.remindersPage{
    display: grid;
    grid-template-columns: 1.1fr 3fr;
    height: 90%;
}

.createReminder{
    background: linear-gradient(to bottom, #283e51,#4b79a1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remindersContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.remindersDivision{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 87.5vh;
    overflow-y: auto;
    margin-bottom: 1rem;
    position: relative;
}

.emptyBox{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.important,.intermediate,.lite{
    border-right: gray solid 1px;
}

.remindersDivision::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  .remindersDivision::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  .remindersDivision::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid white;  /* creates padding around scroll thumb */
  }