.TimeIndicator{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    border: gray 1px solid;
}

.timingImage{
    height: 50px;
    width: 50px;
}
