.WeeklyPlannerpage{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 90%;
    min-width: 1200px;
}

.weeklyPlan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}