.header{
    height: 10%;
    display: flex;
    color: white;
    background: #89D1FE;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 700;
    font-size:xx-large;
    margin-bottom: 10px;
}
.options{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-weight: 400;
    font-size:large;
    align-items: center;
    gap: 20px;
    color: white;
}
.option1{
    height: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.options:last-child{
    margin-right: 25px;
}

.link1{
    text-decoration: none;
    color: white;
}

.featureOption{
    text-decoration: none;
    color: black;
}

.link1:active,:visited{
    color: white;
}

.option1:hover,.link1:hover{
    text-decoration: none;
    color: white;
}

.featureOption:hover{
    text-decoration: none;
    color: black;
}

.featureOption:active,:visited{
    color: black;
}