
.signinpage{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color:#343D40;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    min-width: 1000px;
}

.hourglass{
    height: 75px;
    width: 75px;
    background:initial;
    animation: rotateHourGlass 3s infinite;
}


.description{
    font-family: 'Lato', sans-serif;
    color: white;
    z-index: 10;
}

@keyframes rotateHourGlass {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}