.notesPage{
    display: grid;
    grid-template-columns: 1.1fr 3fr;
    height: 90%;
}

.createNotes{
    background: #192841;
    color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    height: 100%;
}



.heading,.greeting{
    text-align: center;
    margin-top: 20%;
}





