.notesPage{
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    height: 91.5vh;
}

.createNotes{
    background: #192841;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    position: sticky;
}

.notesContainer{
    display: flex;
}

.heading,.greeting{
    text-align: center;
    margin-top: 20%;
}





